h1,h3{
    color: #F42376;
    text-align: center;
}
#body-container{
    width: 800px;
    height: 649px;
    margin: 0 auto;
    background: url('../img/background.jpg');
}
#landing-home.nofan{
    width: 496px;
    height: 496px;
    margin: 0 auto;
    position: relative;
    top: 75px;
    background: url('../img/megusta.png');
}
#landing-home{
    width: 496px;
    height: 496px;
    margin: 0 auto;
    position: relative;
    top: 75px;
    background: url('../img/circuloparticipa.png');
}
#landing-instrucciones{
    width: 445px;
    height: 507px;
    margin: 0 auto;
    position: relative;
    top: 75px;
    background: url('../img/mecanicaconcurso.png');
}
#landing-inscripcion{
    width: 543px;
    height: 503px;
    margin: 0 auto;
    position: relative;
    top: 75px;
    background: url('../img/datos.png');
}
#landing-florero{
    width: 800px;
    height: 649px;
    margin: 0 auto;
    position: relative;
    background: #FFEEF4;
}
#landing-final{
    width: 499px;
    height: 499px;
    margin: 0 auto;
    position: relative;
    top: 75px;
    background: url('../img/compartir.png');
}
#landing-gracias{
    width: 496px;
    height: 496px;
    margin: 0 auto;
    position: relative;
    top: 75px;
    background: url('../img/compartir.png');
}
#button-participar{
    width: 165px;
    height: 51px;
    margin: 0 auto;
    position: relative;
    top: 390px;
}
#button-siguiente{
    width: 165px;
    height: 51px;
    margin: 0 auto;
    position: relative;
    top: 390px;
}
#landing-inscripcion form{
    overflow: hidden;
    height: inherit;
}
#form{
    overflow: hidden;
}
#texts{
    padding-top: 100px;
    width: 193px;
    float: left;
    overflow: hidden;
}
#fields{
    padding-top: 100px;
    width: 350px;
    float: right;
}
#fields .error{
    height: 14px;
    font-size: 10px;
}
#field{
    height: 41px;
    padding-top: 3px;
    padding-bottom: 4px;
}
#field input{
    width: 275px;
    border-radius: 8px;
    margin-bottom: 0px;
}
#button-submit{
    width: 130px;
    height: 51px;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
}
#social{
    width: 162px;
    height: 81px;
    margin: 0 auto;
    padding-top: 330px;
}
#fb-share, #tw-share{
    float: left;
    width: 81px;
    height: 81px;
}
#buttons-top{
    width: 620px;
    height: 70px;
    padding-top: 20px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 20px;
}
#button{
    float: left;
    padding: 5px;
}
#container-floreros{
    width: 800px;
    height: 400px;
}
#container-floreros-left{
    width: 400px;
    height: 400px;
    float: left;
}
#container-floreros-right{
    width: 400px;
    height: 400px;
    float: right;
}
#contenedor-imagen{
    width: 300px;
    height: 350px;
    background: #FFF;
    border: 5px solid #FF187A;
    margin-left: 45px;
    margin-right: 45px;
}
img#placeholder{
    width: 300px;
    height: 350px;
}
#imagen{
    width: 100px;
    height: 75px;
    float: left;
}
#imagen img{
    width: 100px;
    height: 50px;
}
#imagen input{
    width: 100px;
}
#rosas,
#lirios,
#girasoles,
#maceteros{
    width: 300px;
    height: 200px;
    overflow: scroll;
    background: #FFF;
    border: 3px solid #FF187A;
}
#rosas{
    display: block;
}
#lirios{
    display: none;
}
#girasoles{
    display: none;
}
#maceteros{
    display: none;
}
#landing-florero #buttons-bottom{
    width: 130px;
    height: 51px;
    margin: 0 auto;
}
#landing-imagen{
    padding-top: 50px;
}
#landing-imagen #buttons-bottom{
    padding-top: 20px;
    width: 335px;
    height: 51px;
    margin: 0 auto;
}
#imagen-final{
    width: 400px;
    height: 450px;
    background: #FFF;
    margin: 0 auto;
    text-align: center;
}
#imagen-final img{
    width: 300px;
    height: 350px;
}
#landing-galeria{
    padding-top: 100px;
}
#gallery-inscritos{
    width: 700px;
    margin: 0 auto;
    background: #FFF;
}
#gallery-inscritos ul li{
    list-style: none;
    text-align: center;
}
#gallery-inscritos a{
    color: #000;
    font-weight: lighter;
    text-decoration: none;
}
#detalle-florero{
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background: #FFF;
    position: relative;
    top: 25px;
}
#datos-aviso-bottom{
    text-align: center;
}
ul.gal-items{
    overflow: hidden;
}
ul.gal-items li{
    list-style: none;
    text-align: center;
    width: 100px;
    height: 160px;
    padding: 10px;
    float: left;
}